  <div class="main-wrapper">
    <%- include('../layouts/navbar.ejs') %>

    <div class="page-wrapper">
      <%- include('../layouts/sidebar.ejs') %>

      <div class="page-content">

        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title"> ISLAMI API</h6>
                <p class="text-muted mb-3"> Islami Feature <code> /islami/endpoint </code></p>
                <div class="table-responsive pt-3">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Parameter</th>
                        <th>Method</th>
                        <th>Status</th>
                        <th>Try</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Asmaul Husna</td>
                        <td>apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/islami/asmaulhusna?apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Audio Ayat</td>
                        <td>surah, ayat, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/islami/audioayat?surah=1&ayat=2&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Audio Surah</td>
                        <td>surah, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/islami/audiosurah?surah=1&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Kisah Nabi</td>
                        <td>nabi, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/islami/kisahnabi?nabi=muhammad&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>List Surah</td>
                        <td>apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/islami/surah?&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Niat Sholat</td>
                        <td>sholat, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/islami/niatsholat?sholat=subuh&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- row -->

        <!-- End Page-content -->
      </div> <!-- partial:partials/_footer.html -->
      <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
        <p class="text-muted mb-1 mb-md-0">Copyright © 2024 <a href="https://youtube.com/c/RonzzYT" target="_blank">Ronzz YT</a>.</p>
        <p class="text-muted">Handcrafted With <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i></p>
      </footer> <!-- partial -->
    </div>

  </div>