  <div class="main-wrapper">
    <%- include('../layouts/navbar.ejs') %>

    <div class="page-wrapper">
      <%- include('../layouts/sidebar.ejs') %>

      <div class="page-content">

        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title"> Text pro api</h6>
                <p class="text-muted mb-3"> Text Pro Feature <code> /textpro/endpoint </code></p>
                <div class="table-responsive pt-3">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Parameter</th>
                        <th>Method</th>
                        <th>Status</th>
                        <th>Try</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Avengers</td>
                        <td>teks 1, teks 2, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/avengers?teks1=Ronzz&teks2=YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Black Pink</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/blackpink?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Blood Frosted</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/bloodfrosted?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Bokeh</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/bokeh?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Box 3D</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/box3d?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Break Wall</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/breakwall?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Cloud</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/cloud?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Cool Gravity</td>
                        <td>teks 1, teks 2, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/coolgravity?teks1=Ronzz&teks2=YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>Deluxe Silver</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/deluxesilver?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>Firework Sparkle</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/fireworksparkle?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>11</td>
                        <td>Future Neon</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/futureneon?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>12</td>
                        <td>Glitch</td>
                        <td>teks 1, teks 2, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/glitch?teks1=Ronzz&teks2=YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>13</td>
                        <td>Green Neon</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/greenneon?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>14</td>
                        <td>Halloween</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/halloween?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>15</td>
                        <td>Holographic</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/holographic?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>16</td>
                        <td>Horor Blood</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/horrorblood?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>17</td>
                        <td>Ice Cold/td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/icecold?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>18</td>
                        <td>Impressive Glitch</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/impressiveglitch?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>19</td>
                        <td>Joker Logo</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/jokerlogo?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>20</td>
                        <td>Light Glow Sliced</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/lightglowsliced?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>21</td>
                        <td>Lion Logo</td>
                        <td>teks 1, teks 2, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/lionlogo?teks1=Ronzz&teks2=YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>22</td>
                        <td>Luxury</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/luxury?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>23</td>
                        <td>Magma</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/magma?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>24</td>
                        <td>Marvel Studio</td>
                        <td>teks 1, teks 2, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/textpro/marvelstudio?teks1=Ronzz&teks2=YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- row -->

        <!-- End Page-content -->
      </div> <!-- partial:partials/_footer.html -->
      <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
        <p class="text-muted mb-1 mb-md-0">© 2024 <a href="https://youtube.com/c/RonzzYT" target="_blank">Ronzz YT</a>.</p>
        <p class="text-muted">Handcrafted With <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i></p>
      </footer> <!-- partial -->
    </div>

  </div>