  <div class="main-wrapper">
    <%- include('../layouts/navbar.ejs') %>

    <div class="page-wrapper">
      <%- include('../layouts/sidebar.ejs') %>

      <div class="page-content">

        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title"> Tools </h6>
                <p class="text-muted mb-3"> Tools Feature <code> /tools/endpoint </code></p>
                <div class="table-responsive pt-3">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Parameter</th>
                        <th>Method</th>
                        <th>Status</th>
                        <th>Try</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Screenshot Website</td>
                        <td>url, device, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/ssweb?url=https://api.ronzzyt.com&device=desktop&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Tinyurl</td>
                        <td>url, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/tinyurl?url=https://api.ronzzyt.com&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Bitly</td>
                        <td>url, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/bitly?url=https://api.ronzzyt.com&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Cuttly</td>
                        <td>url, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/cuttly?url=https://api.ronzzyt.com&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>VCC Generator</td>
                        <td>bin, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/vcc?bin=436587&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Ebase 64</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/ebase64?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Debase 64</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/debase64?teks=Um9uenogWVQ=&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Ebinary</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/ebinary?teks=Ronzz YT&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>Debinary</td>
                        <td>teks, apikey</td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-info">GET</div>
                        </td>
                        <td>
                          <div class="btn btn-sm-rounded btn-outline-success">ONLINE</div>
                        </td>
                        <td><a target="_blank" href="/tools/debinary?teks=01010010 01101111 01101110 01111010 01111010 00100000 01011001 01010100&apikey=<%= apikey %>" class="btn btn-sm-block btn-primary" rel="nofollow" target="_blank"><i class="fas fa-arrow-up-right-from-square"></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- row -->

        <!-- End Page-content -->
      </div> <!-- partial:partials/_footer.html -->
      <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
        <p class="text-muted mb-1 mb-md-0">© 2024 <a href="https://youtube.com/c/RonzzYT" target="_blank">Ronzz YT</a>.</p>
        <p class="text-muted">Handcrafted With <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i></p>
      </footer> <!-- partial -->
    </div>

  </div>